= render 'clone_panel'

- if @project.import? && !@project.imported
  .save-project-loader
    %center
      = image_tag "ajax_loader.gif"
      %h3 导入版本库.
      %p.monospace git clone --bare #{@project.import_url}
      %p 亲, 请等一下嘛...
      :javascript
        new ProjectImport();

- else
  %div.git-empty
    %fieldset
      %legend Git 全局设置:
      %pre.dark
        :preserve
          git config --global user.name "#{current_user.name}"
          git config --global user.email "#{current_user.email}"

    %fieldset
      %legend 创建版本库
      %pre.dark
        :preserve
          mkdir #{@project.path}
          cd #{@project.path}
          git init
          touch README
          git add README
          git commit -m 'first commit'
        %span.clone= "git remote add origin #{@project.url_to_repo}"
        :preserve
          git push -u origin master

    %fieldset
      %legend 已经有版本库?
      %pre.dark
        :preserve
          cd existing_git_repo
        %span.clone= "git remote add origin #{@project.url_to_repo}"
        :preserve
          git push -u origin master

  - if can? current_user, :remove_project, @project
    .prepend-top-20
      = link_to '删除此项目', @project, confirm: remove_project_message(@project), method: :delete, class: "btn btn-remove pull-right"
