= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.text_field :login, class: "text top", placeholder: "用户 或 Email", autofocus: "autofocus"
  = f.password_field :password, class: "text bottom", placeholder: "密码"
  - if devise_mapping.rememberable?
    .clearfix.append-bottom-10
      %label.checkbox.remember_me{for: "user_remember_me"}
        = f.check_box :remember_me
        %span 记住登录
  %div
    = f.submit "登录", class: "btn-create btn"
    .pull-right
      = link_to "忘记我的密码?", new_password_path(resource_name), class: "btn"


