!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "首页"
  %body{class: "#{app_theme} application", :'data-page' => body_data_page }
    = render "layouts/head_panel", title: "首页"
    = render "layouts/flash"
    %nav.main-nav
      .container= render 'layouts/nav/dashboard'

    .container
      .content= yield
